*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header {
    padding-top: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.nav-menu{
    height: 24px;
    width: 385px;
    list-style-type: none;
    display: flex;
    gap: 32px;
    align-items: center;
    font-size: 16px;
}
.btn{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #308868;
    border: none;
    padding: 12px 16px;
}